<!DOCTYPE html>
<html>
  <head>
    <title>ZhiSouSou</title>
    <%= csrf_meta_tags %>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'javascript', media: 'all', 'data-turbolinks-track': 'reload'  %>

<style type="text/css">
.head_mouseout{
	color: #666666;
	background-color: #fff;
}
</style>
  </head>

  <body>
<div class="l_head col-lg-12">
	<ul>
                              <li class="l_head_menu  logo" style="background-image: url(<%= image_path("index.png")  %>);"> </li>
	                <li  class="l_head_menu menu" style="background-color: #F8F8F8; color: #F39800;"> <i class="glyphicon glyphicon-list-alt" id=""> </i>&nbsp;&nbsp;企业监控</li>
		<li  class="l_head_menu menu"><i class=" 	glyphicon glyphicon-lock" id=""> </i> &nbsp;&nbsp;监控动态</li>
		<li  class="l_head_menu menu"> <i class=" 	glyphicon glyphicon-envelope" id=""> </i>&nbsp;&nbsp;抵押监控</li>
		<li  class="l_head_menu menu"> <i class=" 	glyphicon glyphicon-user" id=""> </i>&nbsp;&nbsp;社保监控</li>
		<li  class="l_head_menu menu" > <i class="glyphicon glyphicon-cog" id=""> </i>&nbsp;&nbsp;系统设置</li>
	</ul>

                     <div class="l_head_right">
                     
                       <img  class="l_head_right_img" src=<%= image_path("headpic.jpg")  %> >
                       <span class="l_khzh">客户账号</span><br>
                               <span class="l_khzw">客户职务</span>
                               <i class="glyphicon glyphicon-chevron-down" id="l_head_down"> </i>

      <div class="header_right_display" >
      	<img class="header_right_display_img" style=" height: 170px;width:170px; margin-left: 0px;"  src=<%= image_path("tow.jpeg") %>>
      	<ul class="header_right_display_lis"  style="margin-top:17px; ">
      	<span class=" l_grzl_span"><a href="">个人资料</a></span>
      		<span class="l_grzl_span"><a href="">修改密码</a></span>
      		<span class="l_grzl_span"><a href="">操作手册</a></span>
      		<span class="l_grzl_span"><a href="">推出</a></span>
      	</ul>
      </div>



                     </div>
</div>
    <%= yield %>
  </body>
</html>
